@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4
  }
  button {
    @apply text-zinc-300 border bg-zinc-500 border-[#000000] rounded-md hover:text-black hover:bg-zinc-400 active:bg-zinc-500 p-2 m-2
  }
  body {
    overscroll-behavior: none;
  }
  .required-field::after {
    content: "*";
    color: red;
  }
}